/*--------------
   CONTAINERS
--------------*/ 

.ms-container{
   width: 75rem;
   margin: auto;
}

.ms-container-sm{
   width: 71.875rem;
   margin: auto;
}

.ms-container-cards{
   width: 68.75rem;
   margin: auto;
   flex-wrap: wrap;
}