/*--------------
   CONTAINERS
--------------*/ 

.ms-container{
   width: 62.5rem;
   margin: auto;
}

.ms-container-sm{
   width: 59.375rem;
   margin: auto;
}

.ms-container-cards{
   width: 56.25rem;
   margin: auto;
   flex-wrap: wrap;
}